.profile-header {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profile-header ul {
	list-style: none;
	text-align: center;
}

.profile-header li {
	margin-top: 20px;
}

.multi {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-position: row;
	flex-wrap: wrap;
}

.single {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	margin-bottom: 30px;
}

.fullimg {
	width: 100%;
	margin-top: 30px;
}

.multiimg {
	width: 30%;
	margin: 10px;
	height: 30%;
}

.optionsnav {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.active {
	color: black;
}

.inactive {
	color: gray;
}

.single-img {
	border: 0px;
	background-color: #f3f3f3;
}

.multi-img {
	border: 0px;
	background-color: #f3f3f3;
}

.optionsnav li {
	display: inline;
}

.sizetoggle {
	float: right;
}

.sorttoggle {
	float: left;
}

.fa-bars.fa-2x {
	margin-right: 10px;
}