<div class='heading'>
	<h1>Welcome to the Admin tab!</h1>
	
	<p>Okay lets keep this simple. If you want to lookup a user you can search by email or username.
		 From there you can delete an account or edit it. If you choose to edit it you can change their info or
		 delete pictures they uploaded if you'd like. You can also mark the pictures as featured if you would 
		 like them to be on the front page.
	</p>
</div>