<div class='main-content'>
	<h2 class='greeting'>Free hi-res stock images for both personal & commercial use.</h2>
	
	<div class='image-display'>
		<img src = 'https://hd.unsplash.com/photo-1470214304380-aadaedcfff84'>
		<p class='credit'>Photo by: <%= link_to "Nicolas Arce", root_path %> / <%= link_to "Download", root_path %></p>
	</div>
</div>