<div class='background-div'>
	<div class='license-info'>
		<h1>Best License Ever!</h1>

		<p> All photos posted to VastPic are under the <%= link_to "Creative Commons Zero (CCO 1.0)", 
			'https://creativecommons.org/publicdomain/zero/1.0/' %> license. 
			This means you may use the photos in any way that you would like to use them.
		</p>

		<ul>
			<li> Copy </li>
			<li> Modify </li>
			<li> Distribute </li>
			<li> Include in commercial use </li>
			<li> Do anything you want </li>
		</ul>

		<p>
			You may do all of this without having to ask for permission or having to give credit to the photographer or VastPic.
			The presentation and collection of these images is copyrighted by Magnified Web (2014). 
		</p>
	</div>
</div>