<div class='submit-brand'>
	<%= link_to image_tag("http://goo.gl/hqYEue"), root_path %>
	<p>
		Yur photo will be published on our website as soon as our teams reviews it for submission.
			After uploading your photo will be licensed under Creative Commons License (Creative Commons Zero CCO 1.0).

		<br>
		<br>

		The photo must be your own original content.
	</p>
	<%= simple_form_for([@user, @portfolio]) do |f| %>
		<%= f.input :photo %>

		<%= f.button :submit, class: "btn btn-primary" %>
	<% end %>
</div>	