<%= button_to unlike_picture_path(@picture), method: :delete, remote: true, class: "likethisphoto" do %>
	<span class='likescount'><%= @picture.get_likes.count %></span>
	<i class="fa fa-heart-o" aria-hidden="true"></i>
<% end %>