.headerbrand {
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: inherit;
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content {
	background-color: #f3f3f3;
	clear: both;
}

.greeting {
	color: #7f8c8d;
	text-align: center;
	padding: 50px;
}

.image-display {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.credit {
	margin-top: 10px;
	font-size: 20px;
}

.credit a {
	color: #f35357;
	text-decoration: none;
}

.credit a:hover {
	color: #7f8c8d;
}

.background-div {
	background-color: #f3f3f3;
	width: 100%;
	height: 100vh;
	clear: both;
}

.license-info {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	background-color: #f3f3f3;
}

.license-info li {
	color: #7f8c8d;
	font-size: 17px;
}

.license-info p {
	color: #7f8c8d;
	font-size: 17px;
}

.license-info h1 {
	color: #f56969;
}

.license-info a {
	text-decoration: none;
	color: #f56969;
}

.submit-brand {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 110px;
}

.submit-brand p {
	width: 45%;
	margin: 30px;
	font-family: 'Lato', sans-serif;
	color: #f56969;
	font-size: 17px;
}

.submit-brand img {
	background-color: #f56969;
}

#new_picture {
	margin-bottom: 30px;
}

.editpage {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.editpage img {
	width: 60%;
}

.searchbar {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	margin-top: 20px;
	margin-bottom: 30px;
}

input#query {
	width: 90%;
	padding: 5px;
}