.profile-header {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profile-header ul {
	list-style: none;
	text-align: center;
}

.profile-header li {
	margin-top: 20px;
}

.edit_form {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.imgcrop {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

.imgcrop h1 {
	text-align: center;
}

.jcrop-holder {
	margin-left: auto;
	margin-right: auto;
}

.jcrop-tracker {
	position: relative;
}

.imgcrop .edit_user {
	text-align: center;
	padding-top: 20px;
}